<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada Exitosamente</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0;
            text-align: center;
        }

        h1 {
            color: #4CAF50;
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <h1>COMPRA FINALIZADA EXITOSAMENTE</h1>
    <p>¡Gracias por tu compra!</p>
</body>

</html>
