<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Usuario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
            margin: 20px 0;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <div>
        <h1>PERFIL DEL USUARIO</h1>
        <p>{{user._doc.first_name}}</p>
        <p>{{user._doc.age}}</p>
        <p>{{user._doc.email}}</p>
        <div>
            <form action="/api/session/logout" method="get">
                <br />
                <button type="submit">logout</button>
            </form>
        </div>
    </div>
</body>

</html>
